.notes {
    display:flex;
    flex-direction: column;
    background-color: white;
    font-size: 50px;
    height: 92%;
    overflow-y: scroll;
    z-index: 0;
}

::-webkit-scrollbar{
    width: 14px;
    background-color: white;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    height: 5px;
    border-radius: 100px;
    background-color: rgb(219, 219, 219);
}