.footer {
    grid-area: f;
    background-color: white;
    border-top: 1px solid black;
    bottom:0;
    padding: 2%;
    float:inline-end;
    z-index: 0;
    font-size: 22px;
    min-width: 927px;
}